# Dependencias
node_modules/

# Entorno
.env
.env.local
.env.production

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Build artifacts
dist/
build/

# Temporales
*.tmp
*.bak
